{%  extends 'base.html.twig' %}

{% block body %}
<h1>Index</h1>
    
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Todo</th>
            <th>Due Date</th>
            <th></th>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-default" href="{{ path('todo_details', { 'id': 1 }) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
{%  endblock %}